* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
  font-family: "Montserrat", sans-serif;
}

/* GENERAL */

.page-heading {
  font-size: 35px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  background-color: rgb(51, 51, 50);
  border-radius: 10px;
  color: white;
}

/* HOMEPAGE */

.header-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 30px;
}

.header-btns {
  display: flex;
  gap: 15px;
  align-items: center;
}
